[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = "*"
paddleocr = "*"
paddlepaddle = "*"
opencv-python-headless = "*"
numpy = "*"
python-multipart = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
